.btnContainer,
.mainContainer,
.outer {
  background-color: #d9f6ff;
}

.outer {
  height: 20vh;
}

.btnStyles {
  background-color: #098a9b;
  color: white;
  padding: 0 5rem;
  border-radius: 10px;
}
