.initials {
  font-size:x-large;
  font-weight: bolder;
  color: blueviolet;
  background-color: rgb(199, 167, 228);
  display: inline-block;
  padding: 0.5em;  
  margin: 0.5em;
  border: solid 2px blueviolet;
  border-radius: 100%;
}
